body #head {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 25px;
    cursor: pointer;
    background-color: rgb(190, 125, 104);
    color: white;
    font: bold;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-transition: .9s;

}

nav:hover {
    background-color: black;
    transition: background 1s;
}

nav li {
    padding: 0px 5px;
    -webkit-transition: .7s;
}

nav li:hover{
    color: rgb(29, 185, 29);
    font-size: 25px;
    transition: all .9s ;
}
